#container {
    margin: 0 auto;
    padding: 1%;
    background-color: aquamarine;
    width: 80%;
    height: 800px;
}

header {
    height: 20%;
    background-color: #00B0F0;
    background-size: contain;
    background-image:
        url('http://upload.wikimedia.org/wikipedia/commons/6/62/Berkeley-San_Francisco-Oakland--Sunset-Panorama.jpg');
    color: white;
}

nav {
    height: 30%;
    background-color: #0070C0;
}

main {
    height: 40%;
    background-color: #00B050;
}

#main-text {
    height: 20%;
    margin: 5px;
    background-color: #FFFF00;
    text-align: center;
}

#dual-container {
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.dual-column {
    width: 45%;
    background-color: #FF0000;
    height: 90%;
}

section {
    height: 25%;
    background-color: #7030A0;
}

footer {
    height: 8%;
    background-color: #595959;
}