.flex-container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 400px;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: aqua;
}

.flex-item {
    /* height: 100px;
    width: 100px; */
    margin: 10px;
    text-align: center;
    font-family: Verdana,
        Geneva, sans-serif;
    line-height: 100px;
    font-size: 30px;
    color: white;
}

.box-1 {
    background-color: #eabfcb;
}

.box-2 {
    background-color: #c191a1;
}

.box-3 {
    background-color: #a4508b;
    flex-basis: 25%;
}

.box-4 {
    background-color: #5f0a87;
}

.box-5 {
    background-color: #2f004f;
}